{% extends 'base.html' %}
{% load static %}
{% block title %} visit {% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <div class="relative bg-blue-100 w-full h-full items-center justify-center flex">
            {% include 'navbar.html' %}
            {% if visit %}
                <div class="w-9/12 flex justify-around">
                    <div class="px-10 py-12 bg-blue-700 flex flex-col items-center justify-center text-white">
                        <h2>{{visit.name}}</h2>
                        <p>{{visit.description}}</p>
                        {% if visit.visit_date %}
                            <p class="mt-4">{{visit.visit_date }}</p>
                        {% endif %}
                        <a href="{% url 'visits:update-visit' visit.id %}" class="mt-4 px-6 py-2 bg-blue-200 text-blue-700">
                        {% if visit.visit_date %}
                            change date
                            {% else %}
                            choose date
                            {% endif %}
                        </a>
                        <a href="{% url 'visits:cancel-visit' visit.id %}" class="mt-4 px-6 py-2 bg-red-700 text-white">
                            CANCEL VISIT
                        </a>
                        <a href="{% url 'visits:send-mail' visit.id %}" class="mt-4 px-6 py-2 bg-blue-200 text-blue-700">Send to mail</a>
                    </div>
                </div>
            {% else %}
                <H2>umów wizytę</H2>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}