{% extends 'base.html' %}
{% load static %}

{% block title %} user panel {% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        {% include 'navbar.html' %}
        <div class="relative bg-blue-100 w-full h-full items-center justify-center flex">
            <div class="px-10 py-12 bg-blue-700 flex flex-col items-center justify-center text-white">
                <img src="{% static 'images/user.png' %}" alt="user image" class="mb-4"/>
                <span>{{ user }}</span>
            </div>
        </div>
    {% else %}
        {% url 'login' as login_url %}
        <script>
            window.location.href = "{{ login_url }}";
        </script>
    {% endif %}
{% endblock %}